<template lang="pug">

.lesson

	you-tube(v-if='youtubeLink'
		:src='youtubeLink'
		previewImageSize='hqdefault'
	)

	section.section(v-for='(sec, key) in lesson.sections' :class='{ayattes: num == 20}')

		h2(v-if='sec.h2')
			em.text(v-for='line in sec.h2.split(";")' v-html='hdrInlines(line)')

		.lesson-list(
			:class='{ oneliner: sec.oneliner, wideButtons: sec.wideButtons }'
		)

			template(v-for='(button, i) in sec.keys')
				p.ayatt(v-if='num == 20' :key='i')
					f-svg(:name='`btns/${num}/${button}`')
				span.hr(v-else-if='button ==="-"' :key='i')
				howl-btn(v-else :key='i' :num='num' :btn='button')

</template>

<script>
import 'vue-lazy-youtube-video/dist/style.simplified.css'

import YouTube from 'vue-lazy-youtube-video'
import HowlBtn from '~/components/HowlBtn.vue'

export default {
	components: {
		HowlBtn,
		YouTube,
	},

	validate({ params }) {
		// Должен быть числом от 1 до 20
		return /^[0-2]\d$/.test(params.no) && +params.no > 0 && +params.no < 21
	},

	data() {
		return {
			num: this.$route.params.no,
			showDrawer: false,
		}
	},

	computed: {
		lesson() {
			return this.$store.getters.lesson(this.num) || ''
		},

		youtubeLink() {
			return !this.lesson.video
				? false
				: `https://www.youtube.com/embed/${this.lesson.video}`
		},
	},

	methods: {
		hdrInlines(text) {
			return text.replace(
				/#(\w+\b)/,
				(_, m) => `<img src="/img/hdrinlines/${m}.svg" class="himg"/>`
			)
		},
	},
}
</script>

<style lang="stylus">
.lesson

	h2
		width 100%

	.ayattes .himg
		height 6rem
		margin 1rem 0 .3rem

	.oneliner
		flex-flow column
		align-items center

	.wideButtons
		.btn
			align-self stretch
			align-items flex-end

	.ayatt
		text-align right
		font-size 2.5rem
		width 100%

		@media screen and (min-width 600px)
			font-size 3.5rem

		.si
			transform skewX(-10deg)
			filter drop-shadow(4px 8px 8px #888)

.y-video
	width 100%
	box-shadow:
		0 -1rem 0.5rem 0.4rem rgba(0,0,0,0.2),
		0 1rem 0.7rem 0.1rem rgba(0,0,0,0.3)

		picture
			position relative

			&:after
				content '\x0a'
				position absolute
				top 0
				left 0
				width 100%
				background-image:
					radial-gradient(rgba(black, 0) 33%, rgba(black, 0.3) 100%),
					radial-gradient(rgba(black, 0) 0%, rgba(black, 0.5) 100%),
					linear-gradient(180deg, rgba(black, 0) 0%,rgba(black, 0) 0% 75%, rgba(black, 0) 0%, rgba(black, 0.4) 90%, rgba(black, 0) 100%)

	&__inner
		max-height 33vh
</style>
