<template lang="pug">
	.appctrl
		.appbar
			svg-icon(
				name='app/menu'
				@click='toggleShown'
			)
			| {{ pageTitle }}
</template>

<script>
export default {
	props: {
		pageTitle: {
			type: String,
			default: 'Құран Әліппесі',
		},
	},
	methods: {
		toggleShown() {
			this.$store.commit('TOGGLE_DRAWER')
		},
	},
}
</script>

<style lang="stylus">

.appbar
	position fixed
	top 0
	left 0
	height $appBarSize
	line-height $appBarSize
	font-size 1.3rem
	font-weight bold
	box-shadow 0 4px 4px #888
	width 100%
	background-color white
	z-index +1

	.icon
		margin 0 .5em
		vertical-align middle
		width 1.5rem
		height 1.5rem
		cursor pointer
		user-select none
</style>
