<template lang="pug">

	section#drawer.drawer(
			:class='{ "shown": isActive }'
		)

		span.close(@click='hideDrawer')
			svg-icon(name='close')

		.overlay(@click="hideDrawer")
		.shadow

		.box(
				v-touch:swipe.left.stop='hideDrawer'
				v-touch:swipe.vertical.stop
			)

			ul.menu
				- var menu = [
				-		{ icon: 'abc'  , link:   'abc'      , title: 'Әліпби әріптері'      },
				-		{ icon: 'home' , link:   'home'     , title: 'Дәрістер'             },
				-		{ icon: 'info' , link:   ''         , title: 'Бағдарлама туралы'    },
				//-		{ icon: 'exit' , action: 'closeApp' , title: 'Бағдарламаны жабыңыз' }
				-	]

				each item, key in menu
					li(@click="hideDrawer")

						- if(typeof item.link !== 'undefined')
							nuxt-link.menu(to=`/${item.link}`)
								svg-icon(name=`menu/${item.icon}`)
								= item.title

						- else if(item.action)
							span.menu(@click=item.action)
								svg-icon(name=`menu/${item.icon}`)
								= item.title

			ul.socials
				-	var socials = [
				-		{ icon: 'fb', link: 'https://www.facebook.com/asylarna'                        },
				-		{ icon: 'ig', link: 'https://www.instagram.com/asylarna'                       },
				-		{ icon: 'vk', link: 'https://vk.com/asyl_arna'                                 },
				-		{ icon: 'yt', link: 'https://www.youtube.com/channel/UCn6iyY8GeoPC8Xw2MqwJWbg' },
				-		//- { icon: 'tw', link: 'https://twitter.com/asylarna'                         },
				-		//- { icon: 'sh', action: 'share'                                              }, // share link
				-	]

				each item, key in socials
					li()
						a.social(href=item.link target='_blank')
							svg-icon(name=`socials/${item.icon}`)
</template>

<script>
export default {
	computed: {
		isActive: {
			get() {
				return this.$store.getters.isDrawerShown
			},
		},
	},

	methods: {
		hideDrawer() {
			this.$store.commit('SHOW_DRAWER', false)
		},
		closeApp() {
			window.close()
		},
	},
}
</script>

<style lang="stylus">

.drawer
	width 100%
	height 100%
	position fixed
	top 0
	left -100%
	z-index 99
	font-size 1.5rem
	transition left .4s

	.overlay
		position absolute
		left 0
		top 0
		right 0
		bottom 0
		z-index -1
		background-color rgba(black, .3)
		opacity 0
		transition opacity .2s .4s

	.shadow
		float: right;
		width: 2rem;
		height: 100%;

	&.shown
		left 0

		.box-shadow
			box-shadow: inset 4px 0 4px #000;

		.overlay
			opacity 1

	.box
		width calc(360px - 2rem)
		height 100%
		padding 6rem 1rem
		box-shadow 1rem 0 0.5rem rgba(0,0,0,.5)
		welcomeBG()

	.icon
		height 2.1rem
		width 2.1rem
		display inline-block
		vertical-align middle

	svg
		fill $clrDrawerText

	a
		color $clrDrawerText
		text-decoration none

	ul
		list-style none
		padding 0


	.close
		display block
		position absolute
		top 1rem
		left 280px
		cursor pointer
		.icon
			filter drop-shadow(0 4px 4px rgba(#888, 25%))

	.menu
		display block
		padding 0
		color $clrDrawerText
		padding-left 1.5rem
		display inline-block
		cursor pointer

		li
			padding 1em 0
			line-height 1

		.icon
			margin 0 .5em 0 0
			margin-left -3.0rem

	.socials
		display flex
		justify-content space-around
		padding 0
		margin-top 1rem
		padding-top 2rem
		border-top .2rem solid rgba($clrDrawerText, .5)

		.icon
			margin 0 .5em

		li
			display inline-block
</style>
