<template lang="pug">
.dummy
	//- svg-icon(:name='$route.name')
	.dummy--message {{ $route.name }}
	.dummy--message {{ pageTitle }}

</template>

<script>
export default {
	props: {
		pageTitle: {
			type: String,
			default: '',
		},
	},
}
</script>

<style lang="stylus">
.dummy
	display flex
	justify-content center
	align-items center
	text-align center
	flex-direction column

	svg
		fill red

	&--message
		font-size 3rem
		font-weight bold
		margin 1em auto
</style>
