<template lang="pug">
	img.si(:src='url' :style='inlineStyle')
</template>

<script>
export default {
	props: {
		name: {
			type: String,
			default: '',
			requiard: true,
		},
		height: {
			type: String, // need to be full qualified CSS <length> value
			default: null,
		},
		width: {
			type: String, // need to be full qualified CSS <length> value
			default: null,
		},
	},
	computed: {
		url() {
			return `/img/${this.name}.svg`
		},
		inlineStyle() {
			const h = this.height ? `--height:${this.height}` : ''
			const w = this.width ? `--width:${this.width}` : ''
			return [h, w].join(';')
		},
	},
}
</script>

<style lang="stylus">
.si
	display inline-block
	font-style normal
	min-width 1em
	min-height 1em
	height var(--height, 1em)
	width var(--width, auto)
	background-repeat no-repeat
	background-position center
	background-size contain
</style>
