<template lang="pug">
button.btn(v-if='btn' @click='speakNow')
	template(v-if='typeof btn == "string"')
		span.howl(
			:data-sounds='btn'
			:style='duration(btn)'
			:class='{now: nowHowl === btn}'
		)
			f-svg(
				:name='`btns/${num}/${btn}`'
			)

	template(v-else)
		span.howl(
			v-for='(cifir,j) in btn' :key='j'
			:data-sounds='cifir'
			:style='duration(cifir)'
			:class='{now: nowHowl === cifir}'
		)
			f-svg(
				:name='`btns/${num}/${cifir}`'
			)

</template>

<script>
import { Howl } from 'howler'

export default {
	props: {
		num: {
			type: String,
			required: true,
			validator(val) {
				const vanum = v => (+v > 0 && +v < 21) || 'abc'
				return vanum(val)
			},
		},

		btn: {
			type: [String, Array],
			default: '01',
		},
	},

	data() {
		return {
			sounds: [],
			IDs: null,
			nowHowl: null,
		}
	},

	computed: {},

	beforeMount() {
		this.IDs = typeof this.btn === 'string' ? [this.btn] : Array.from(this.btn)

		this.IDs.forEach(b =>
			this.sounds.push(
				new Howl({
					src: [`/audio/${this.num}/${b}.ogg`, `/audio/${this.num}/${b}.mp3`],
					onplay: () => {
						this.nowHowl = b
					},
					onend: () => {
						this.nowHowl = null
						this.$hi(`Звук в уроке ${this.num} трек ${b}`)
						this.$store.commit('PLAY_NEXT_IN_QUEUE')
					},
				})
			)
		)
	},

	methods: {
		duration(cifir) {
			return {
				'--dur': this.$store.getters.duration(this.num, cifir) + 's' || '1s',
			}
		},

		playing() {
			return this.$store.getters.isHowl
		},

		speakNow() {
			if (!this.playing()) {
				this.$hi(`Старт звука в уроке ${this.num}`)
				this.$store.commit('SET_AUDIO_QUEUE', this.sounds)
				this.$store.commit('PLAY_NEXT_IN_QUEUE')
			}
		},
	},
}
</script>

<style lang="stylus">
.howl
  position relative
  cursor pointer
  display inline-block
  padding 0 .1rem

  &:before
    content ''
    position absolute
    top 0
    right 0
    bottom 0
    width 0
    background rgba(lime, .5)
    border-radius .2rem

	&.now
	  &:before
	    animation var(--dur, 1s) riseW

@keyframes riseW
  from
    width 0
    right 0
    opacity .7
  75%
    opacity 1
    right 0
    width 100%
  to
    width 0
    right 100%
    opacity 0
</style>
