<template lang="pug">
.install(v-if="deferredPrompt" color="info" dark="")
	.message
		p(lang='kz')
			| Біздің ақысыз қосымшаны жүктеп алыңыз.
			| Ол сіздің телефоныңызда көп орын қажет
			| етпейді және оффлайн режимінде жұмыс істейді!
		p(lang='ru')
			| Загрузите наше бесплатное приложение.
			| Это не требует много места на телефоне
			| и работает в автономном режиме!
		p(lang='en')
			| Get our free app.
			| It won't take up space on your phone
			| and also works offline!
	.controls
		button.btn(text="" @click="dismiss")
			span(lang='kz') Қазір емес
			span(lang='ru') Не сейчас
			span(lang='en') Dismiss
		button.btn(text="" @click="install")
			span(lang='kz') Қазір орнату
			span(lang='ru') Установить
			span(lang='en') Install
</template>
<script>
import Cookies from 'js-cookie'
export default {
	data() {
		return {
			deferredPrompt: null,
		}
	},
	created() {
		// eslint-disable-next-line nuxt/no-globals-in-created
		window.addEventListener('beforeinstallprompt', e => {
			e.preventDefault()
			// Stash the event so it can be triggered later.
			if (Cookies.get('add-to-home-screen') === undefined) {
				this.deferredPrompt = e
			}
		})
		// eslint-disable-next-line nuxt/no-globals-in-created
		window.addEventListener('appinstalled', () => {
			this.deferredPrompt = null
		})
	},
	methods: {
		// eslint-disable-next-line require-await
		async dismiss() {
			Cookies.set('add-to-home-screen', null, { expires: 15 })
			this.deferredPrompt = null
		},
		// eslint-disable-next-line require-await
		async install() {
			this.deferredPrompt.prompt()
		},
	},
}
</script>
<style lang="stylus">
.install
	position fixed
	bottom 0
	left 0
	width 100%
	padding .5rem
	background-color: #09c
	color #FFF
	[lang='kz']
		display block
	[lang='ru']
		display none
	[lang='en']
		display none
</style>
