<template lang="pug">
.navbar
	n-link(to='/abc')
		svg-icon(name='nav/abc')
	n-link(:to='prev' v-if='prev')
		svg-icon(name='nav/rw')
	n-link(:to='next' v-if='next')
		svg-icon(name='nav/ff')
	n-link(to='/home')
		svg-icon(name='nav/lessons')
</template>

<script>
export default {
	props: {
		prev: {
			type: [String, Object],
			default: null,
		},
		next: {
			type: [String, Object],
			default: null,
		},
	},
}
</script>

<style lang="stylus">

.navbar
	position fixed
	bottom 0
	left 0
	min-height 2rem
	display flex
	padding .5rem
	width 100%
	justify-content space-around
	background: #FFFFFF
	box-shadow: 0px -7px 7px rgba(0, 0, 0, 0.11)
	z-index +1
	user-select none

	.icon
		height 2rem
		width 2.5rem
		fill $clrNavbarIcon
</style>
