<template>
	<svg
		class="welcome-heading"
		fill-rule="evenodd"
		stroke-linejoin="round"
		stroke-miterlimit="2"
		clip-rule="evenodd"
		viewBox="0 0 413 152"
	>
		<mask id="welcomHeadingMask">
			<rect
				x="0"
				y="0"
				width="100%"
				height="100%"
				fill="white"
				class="welcome-heading--mask"
			/>
		</mask>
		<path
			fill="#e6e6e6"
			mask="url(#welcomHeadingMask)"
			d="M76.381 136.41c.533-.271.521-1.055 1.538-1.291.692-.16 1.559-.044 1.906.401-.383.393-1.785 1.066-2.361 1.545-.617.512-1.196 1.457-1.383 2.386-.82 4.075 1.536 7.524 2.355 11.213l.331 1.431.06-1.446c-.348-2.968-1.005-4.894-1.542-6.66-.707-2.326-1.272-3.059.381-4.685 1.429-1.406 2.843-1.68 5.497-2.26.165-.674.51-1.275.508-1.993-.514-.721-2.41-1.744-3.252-2.082-2.941-1.18-3.876.37-4.038 3.441zm163.336-41.036c.222 4.917.168 7.578-4.761 8.107-5.597.601-3.79-4.123-7.474-5.711-1.822 8.579 6.786 11.337 3.116 18.026-8.771 15.988-37.028 23.831-54.169 30.582-.552.217-1.409.555-1.932.81l-2.452 1.429c6.526-.349 21.918-3.812 27.709-5.823 7.578-2.632 24.888-13.406 30.124-20.168 4.198-5.422 2.713-5.623 3.527-12.719 7.056-2.674 8.903-6.557 9.093-16.035.452-22.486-6.776-46.776-7.176-65.617 2.041-.33 1.355 2.692 3.529 1.46l-7.606-17.06c-2.699 9.793 1.73 28.906 3.356 40.495 1.915 13.654 4.414 28.231 5.116 42.224zm-88.69 51.419c3.945-1 11.109-5.05 15.169-7.056l10.904-5.253c4.122-1.934 2.111-.219 3.488-3.283-5.793 1.52-26.063 11.602-29.561 15.592zm200.344-19.933c.475-.371.384-1.325 1.318-1.691.636-.248 1.465-.173 1.836.341-.321.508-1.573 1.436-2.068 2.064-.528.671-.979 1.866-1.061 3.013-.36 5.024 2.21 9.043 3.354 13.472l.458 1.717-.09-1.766c-.629-3.587-1.443-5.881-2.127-7.991-.903-2.778-1.509-3.626-.117-5.734 1.205-1.822 2.509-2.265 4.951-3.177.087-.833.351-1.592.276-2.466-.557-.838-2.446-1.937-3.274-2.284-2.89-1.209-3.614.75-3.456 4.502zM147.243 42.378c.819 5.14 7.088 42.996 5.286 46.66-1.136 2.309-4.382 2.539-6.251 1.396-.79-.482-1.202-1.283-2.12-2.451l-2.269-2.528c-2.924 5.085-1.044 5.913.558 9.586 1.314 3.012 2.357 7.282 1.793 11.026-6.695 5.728-32.43 21.863-43.288 22.475-2.049-6.236-1.956-9.73-.81-16.424 1.415-8.264 2.156-5.95 9.297-9.428 3.732-1.818 24.048-10.044 25.111-12.247-7.064 2.077-40.616 14.534-42.7 20.279l7.82-3.454c-1.736 9.724-2.831 11.523-2.376 22.501l-7.348 2.769c2.548 1.165 4.722.19 7.98.095 4.509 6.336 6.143 11.226 16.221 12.308 17.357 1.863 30.388-7.108 42.649-15.525 8.967-7.504 8.478-6.99 9.634-20.309 3.648-2.626 6.461.154 11.525-10.751 2.762 4.579 5.308 11.884 13.084 10.524 3.266-.571 4.764-3.428 4.873-6.967.155-5.037-2.071-6.044-3.808-9.012 12.006-3.372 19.796-5.759 34.373-5.34l4.618.641 2.835-5.239c-3.814-2.23-10.734-1.731-15.453-2.888-7.162-1.757-23.888-8.023-28.328-8.575-6.564-.816-10.187.539-11.375 6.165 2.164 1.022 4.959 1.266 7.254 1.692 11.083 2.06 4.619-2.76 19.587 3.708-5.59 3.625-22.625 4.379-26.401 8.658-3.165 3.589-2.737 7.779-8.45 9.514-6.296 1.911-6.796-2.342-9.718-5.307-3.979 8.683 7.42 10.955 2.844 20.925-3.99 8.693-17.018 13.938-27.297 18.423-13.594 5.931-24.141 5.52-33.149-3.588 13.82-3.404 45.841-15.21 43.9-33.363 2.849-1.884 4.269-1.968 5.958-4.701 4.971-8.042 2.813-17.466 1.207-27.731-1.061-6.782-5.678-32.807-5.121-37.237 1.543 1.84.928 1.338 3.156 2.244-.545-3.52-4.343-15.619-7.367-18.179-2.948 8.221-1.725 3.896-.25 13.398.744 4.798 1.924 11.275 2.316 16.257zm163.282 102.55c5.583-1.558 13.165-5.98 19.154-8.55 4.021-1.725 15.911-5.517 17.602-9.152-6.929 1.96-20.991 8.537-28.619 12.007-4.248 1.933-7.061 2.282-8.137 5.695zM63.907 124.866l-.157 2.501c-.088 1.389-2.616 2.99-7.58 4.805-9.966 4.186-17.28 7.328-21.94 9.429-2.042 1.614-3.07 2.561-3.088 2.838l-.484-.013.078-1.25c.14-2.222 1.696-3.85 4.674-4.884l26.429-11.394 2.068-2.032zm168.336 16.123c.203.103.497.063.604.32.111.265.507.228.657.252 1.044.165.751.206 2.498.143 2.938-3.947 15.229-8.632 20.457-11.227 5.835-2.898 17.592-6.557 20.449-10.689-6.184.874-34.373 14.525-44.665 21.201zm178.56-48.376c6.564-4.823-4.218-23.963-6.409-33.949l1.546-.012c-.095-.82-2.296-3.912-2.623-4.546-1.042-2.018-1.893-3.514-3.069-4.905-5.998 8.403 11.293 35.907 9.391 39.557-2.361 4.53-10.529-3.436-11.721-5.42-1.815 4.026-3.197 7.495-6.608 7.81-3.41.316-6.281-1.92-4.882-7.121-3.731 2.23-5.033 10.172-11.915 8.726-4.716-.991-5.404-7.803-9.189-11.254-3.926 2.932-5.116 6.883-8.77 10.765-5.74 6.098-8.788 2.4-12.58 6.301-2.83 2.911-3.947 8.898-6.917 11.909-13.022 13.202-60.56 27.119-64.749 30.05 14.008 1.534 48.471-12.368 59.181-20.362 8.594-6.414 7.52-11.174 11.62-15.005 1.219 5.678 6.49 13.239 13.146 9.295 8.076-4.785-.398-14.487-.807-15.455 2.603-2.376 2.598-2.561 4.604-5.895.785-1.306 1.016-1.918 2.107-3.271l2.236-2.062c3.523 3.826 2.987 9.047 7.872 10.781 6.238 2.215 9.363-2.831 11.044-6.486 1.225 4.033 2.092 7.051 7.611 5.143 2.764-.956 4.463-4.781 5.536-7.9l1.539 1.387c.19.178.752.726.944.91.105.1 1.741 1.672 1.825 1.735 2.679 2.008 4.875 3.068 10.037-.726zm-225.848 27.264c.663-.336.648-1.312 1.912-1.605.861-.199 1.94-.054 2.371.498-.476.489-2.219 1.326-2.936 1.922-.767.637-1.488 1.812-1.721 2.969-1.02 5.068 1.911 9.359 2.929 13.948l.413 1.779.075-1.798c-.433-3.692-1.25-6.088-1.918-8.285-.88-2.893-1.583-3.805.473-5.827 1.778-1.749 3.537-2.09 6.838-2.812.205-.838.634-1.586.631-2.479-.639-.897-2.996-2.169-4.044-2.589-3.659-1.468-4.821.46-5.023 4.279zm184.966 17.668c6.771-2.516 14.331-6.109 21.54-8.988 5.935-2.37 18.162-5.99 20.992-10.157l-39.209 15.2c-2.6 1.271-2.707 1.649-3.323 3.945zM93.857 70.528c9.545 1.99 18.883.877 28.052 5.34-3.323 3.385-10.924 5.575-16.44 6.699-11.135 2.269-8.636-3.933-12.709-9.907-3.554 3.237-5.106 7.341-8.14 10.557-4.449 4.717-8.167 3.657-12.182 6.674-12.685 9.528 4.833 12.829-44.113 32.185-6.445 2.549-23.608 7.262-28.22 10.111 20.233-1.426 41.902-8.171 57.821-19.128 5.246-3.61 7.527-8.545 11.27-14.586 3.08 3.723 4.044 9.975 15.283 9.608 1.697-2.176 2.728-3.778 2.721-7.958-.008-4.684-1.799-5.727-4.476-8.129l-.925-.854c4.641-4.165 5.947-7.966 9.846-11.416 1.731 1.438 2.725 6.476 5.271 9.566 13.601.659 24.674-10.62 38.765-11.453 7.872-.466 9.256 3.369 11.391-4.956-33.438-1.264-49.895-17.955-53.215-2.353zm294.877 37.181c.178-.092.68.435 1.504 1.58.752 2.304.416 3.824-1.007 4.558l-.534.276c-.178.092-.803.19-1.878.296-.343 1.074-.78 1.749-1.313 2.024l-.267.138c-1.067.551-2.458.483-4.172-.203a2.691 2.691 0 00-1.206.286c-.889.46-2.388 2.13-4.496 5.013-3.084 3.611-5.602 5.921-7.56 6.931a14.03 14.03 0 01-6.298 1.568c-1.692.649-2.809.889-3.35.72l.267-.138c2.853-1.024 5.08-1.949 6.682-2.775 3.381-1.745 6.96-5.052 10.741-9.92 1.581-2.162 2.906-3.519 3.974-4.07.533-.275 1.657-.071 3.371.616.625-.099 1.117-.24 1.472-.424.889-.458 1.193-1.177.909-2.151.164-.983.335-1.52.514-1.613l.266-.137.426 1.463c.093.177.629.124 1.611-.158l.929-.816-.138-.265-.672.011c-.106-1.068-.031-2.004.225-2.81zm-308.079 9.514l6.044 3.944.07.333c-.828 1.566-2.14 3.584-3.939 6.051l-5.237-3.418-4.273 6.123-6.042-3.945-.07-.332 3.937-6.052 5.572 3.347 3.938-6.051zm128.825-6.341c.88 1.68 1.411 3.131-.739 4.784-.673.518-1.59.784-2.143 1.425.416.949 4.339 1.266 6.337-.936 3.473-3.83-.172-5.901.292-7.312.457.073.641.641.904 1.05 1.12 1.744 2.2 4.913.154 7.795-3.383 4.765-10.351 2.212-9.214-2.054.804-.762 1.097-.934 2.187-1.602 3.022-1.851 1.982-3.254.462-3.827-.325-.123-.806-.353-1.289-.091-.57.31-.715.861-1.158 1.281-.416-.258-.891-1.057-.885-1.965.713-1.39 1.065-1.611 2.027-1.38.4.096.653.193.942.377.989.63 1.43 1.392 2.123 2.455zm-90.897-2.06c.88 1.68 1.411 3.131-.738 4.784-.674.518-1.591.784-2.144 1.425.416.949 4.339 1.267 6.337-.936 3.473-3.829-.172-5.901.293-7.311.456.072.64.64.903 1.049 1.12 1.744 2.2 4.913.154 7.795-3.383 4.766-10.351 2.212-9.214-2.054.805-.762 1.097-.933 2.188-1.601 3.021-1.851 1.981-3.254.461-3.828-.325-.122-.806-.353-1.288-.09-.571.309-.715.86-1.159 1.281-.416-.259-.891-1.058-.885-1.965.713-1.39 1.065-1.611 2.027-1.381.4.096.654.194.943.378.988.629 1.429 1.391 2.122 2.454zm33.353-1.676l6.322 4.34-4.268 6.687-6.323-4.341 4.269-6.686zm248.361-3.818l6.322 4.34-4.268 6.687-6.323-4.34 4.269-6.687zm-96.326-8.463c5.636 19.862 19.42 12.284 19.533.79.062-6.241-2.476-11.324-4.384-16.717-2.659-7.513 1.64-6.932-4.969-13.927-1.416 1.733.194-2.456-1.405 2.327-1.74 5.203 5.484 20.641 7.367 26.01 1.486 4.239 2.374 6.805-3.23 7.111-12.875.703-9.939-16.304-16.006-33.793-.758.957-.625.019-1.518 2.487-2.513 6.948 10.15 29.572-4.005 34.635-7.669 2.743-12.036-3.6-11.986-10.807.137-20.145 3.367-12.673 4.536-19.386l-3.826 3.003-2.149-4.293-1.867 6.979c-.801 1.711.146.183-1.15 1.655l-5.931 5.814c-6.902 6.099-11.391 16.486-1.948 16.323 3.983-.068 6.879-2.253 9.093-4.87.105-.124.38-.238.456-.575.077-.342.289-.406.458-.588 1.654 18.117 14.615 15.207 19.801 6.831 2.03-3.28 1.9-5.829 3.13-9.009zm52.304 14.309c-2.762.072-4.79-.271-6.32-1.177-1.53-.905-2.562-2.373-3.329-4.552 5.099.809 8.222 2.378 9.649 5.729zm-98.647-.258c5.641-8.778-4.622-68.648-5.324-82.759.694.529 1.918 2.539 2.529 3.049.413.343 1.278-.259 1.725.114l-6.472-15.949a28.125 28.125 0 00-.72-1.141l-.833-1.065c-2.765 7.045 2.461 38.229 3.517 47.842.734 6.681 4.442 47.431 5.578 49.909zm75.729-1.853c6.975-9.725-3.61-61.543-4.048-79.776 1.359 1.141 2.056 2.089 3.347 3.326.021-3.655-3.95-15.107-7.097-17.907-2.828 7.127 2.43 36.166 3.574 45.418 2.051 16.59 2.738 32.039 4.224 48.939zm-141.169-4.399c-2.82.146-5.008-.512-6.719-1.615-1.711-1.104-2.944-2.653-3.852-4.291 4.913.131 9.091 2.194 10.571 5.906zm-108.016-.744c-2.34 1.088-4.805.318-6.846-1.092-2.04-1.409-3.656-3.458-4.3-4.928 5.519.391 9.609 2.165 11.146 6.02zm84.249-71.499c-.034-.156.456-.205-.774.53 1.393 15.256 8.379 55.01 3.114 66.28l-4.268-43.31c-.801-6.899-1.605-13.795-2.517-20.741-.89-6.782-3.381-14.914.294-19.246 1.895 4.664 5.559 12.255 6.422 17.017-1.712.24.97-.224-1.098-.274-.934-.022-1.152-.159-1.173-.256zM268.56 96.359c1.008-4.097 8.445-10.939 12.196-12.441.005 3.045.564 8.841-1.832 10.503-.114.079-.378.309-.523.401l-3.904 1.519c-2.332.396-3.65.218-5.937.018zm80.569-28.043v.264c0 1.317.657 4.651 1.972 10.005.526 2.37.789 4.081.789 5.135 0 1.053-.219 2.106-.658 3.159l-.263.264v-1.185c0-1.843-.745-5.617-2.235-11.322-.438-1.931-.657-3.247-.657-3.95.175-.702.438-1.448.788-2.238l.264-.132zM75.906 75.499c-.713-2.221-4.189-9.976-6.655-6.056-1.223 1.943.761 3.476.827 3.555.457.262 1.185-.115 1.984-.96.603.942.048-.023.964 1.724 1.774 3.384 1.406 2.825 2.611 5.926 1.032-.461 1.44-1.553 1.635-2.726.098-.589.013-6.168 1.196-7.244 1.398-1.27 1.897.426 2.896.824 2.023-3.079-3.161-10.114-5.458 4.957zm184.411.571c5.499-.698 19.736-10.61 22.055-15.023l2.742.978c1.12-1.016 1.404-1.395 1.765-3.173-.694-.484-1.327-1-1.989-1.527.432-1.882 1.068-10.451-2.674-8.906-2.013.82-5.724 4.566-5.748 7.026-.016 1.585 2.463 3.847 3.808 4.45-.308 2.662-17.997 14.77-19.959 16.175zm118.896-7.334c-.713-2.221-4.189-9.977-6.655-6.056-1.223 1.943.761 3.476.827 3.554.457.263 1.185-.114 1.984-.96.603.942.048-.022.964 1.725 1.774 3.384 1.406 2.824 2.611 5.926 1.032-.461 1.44-1.553 1.635-2.727.098-.588.013-6.168 1.197-7.243 1.397-1.271 1.896.426 2.895.824 2.023-3.079-3.161-10.114-5.458 4.957zm-159.026-.255c-.713-2.22-4.188-9.976-6.655-6.056-1.223 1.943.761 3.477.827 3.555.457.262 1.185-.115 1.984-.96.603.942.048-.023.964 1.724 1.774 3.384 1.406 2.825 2.611 5.926 1.032-.46 1.44-1.552 1.635-2.726.098-.588.013-6.168 1.197-7.244 1.397-1.27 1.896.426 2.895.824 2.023-3.079-3.161-10.114-5.458 4.957zm133.897-20.955c1.452.022 2.379 2.732 1.316 4.349-.999-.397-1.498-2.094-2.896-.823-1.183 1.075-1.098 6.655-1.196 7.243-.113.681-.298 1.334-.635 1.853l-.032.262c2.7.933 4.168 1.427 4.085 3.311-.034.763-3.322 2.629-6.338 3.652-.408-1.899-.475-1.794.308-2.912 1.55-.47 3.316-1.472 3.603-1.516h.003c-.363.02-2.439.728-3.38-.228-.941-.957.159-2.39.078-3.47-.483-1.296-.613-1.624-1.939-4.151-.915-1.747-.361-.783-.963-1.725-.799.846-1.527 1.222-1.984.96-.067-.078-2.05-1.612-.827-3.555 2.466-3.92 5.941 3.836 6.655 6.056 1.086-7.124 2.817-9.308 4.126-9.306h.016zm-167.736 19.62c-.092-9.178-3.973-10.626-6.08-12.908-2.958-3.207 1.197-1.685-3.538-2.501.374 4.429 2.574 4.908 5.034 7.503 2.483 2.619 3.438 4.643 4.584 7.906zm-53.47-7.256c-.713-2.22-4.188-9.976-6.655-6.056-1.223 1.944.761 3.477.827 3.555.457.262 1.185-.114 1.984-.96.603.942.048-.023.964 1.724 1.775 3.384 1.406 2.825 2.611 5.927 1.033-.461 1.44-1.553 1.635-2.727.098-.588.014-6.168 1.197-7.244 1.398-1.27 1.896.427 2.895.824 2.024-3.078-3.161-10.114-5.458 4.957zm65.7-9.087c-.231.318-1.107 5.116-1.145 5.677-.075 1.112.414 2.23 1.245 2.543 1.75.657 3.717-1.266 4.33-2.854.908-2.351.428-3.554-1.873-4.551-.388-.168-2.208-.82-2.557-.815zm.023 2.399c.329.003 1.786.559 2.119.702.643.277 1.465.758 1.664 1.442-.647.865-2.262 1.912-3.355 1.467-1.329-.543-.663-2.671-.428-3.611zm80.79.734c-.269-1.914 2.13-1.712 3.219-1.515.546 1.639.255 1.954-.125 3.663-.948-.213-2.958-1.178-3.094-2.148zm-209.88-8.143c-.269.37-1.286 5.943-1.33 6.595-.087 1.291.481 2.59 1.446 2.953 2.033.764 4.318-1.471 5.03-3.314 1.054-2.732.497-4.13-2.176-5.288-.45-.194-2.565-.952-2.97-.946zm241.212-1.861l.116 1.906c.046.763.629 2.003 1.754 3.721l.473 1.502c-.115 2.304-1.189 3.516-3.219 3.64-1.523.092-2.721-.726-3.589-2.46-.655 1.826-1.742 2.784-3.266 2.877-1.016.061-1.689-.535-2.021-1.791l.197-3.073c-.046-.763-.616-1.749-1.708-2.959.43-1.301.773-1.96 1.026-1.976 1.078.955 1.663 2.195 1.755 3.721l-.219 2.693c.3.747.957 1.09 1.973 1.028 1.269-.077 1.851-1.005 1.743-2.785-.046-.763-.37-1.891-.97-3.385.43-1.302.638-2.081.623-2.335.507-.031 1.109 1.463 1.801 4.482.108 1.78.813 2.886 2.113 3.318a3.379 3.379 0 001.547.288l.76-.046-.023-.381-1.351-3.364a3.398 3.398 0 01-.473-1.502c-.077-1.271.242-2.311.958-3.119zM106.21 51.797c-1.83-1.184-.473-6.485-.24-8.831-.907 2.708-2.263 6.182-1.588 9.044 1.061 4.49 4.401 2.426 4.644-.84l.077-1.382c-.846 1.452-1.299 2.369-2.893 2.009zm-36.672-3.218c.381.004 2.074.65 2.461.816.747.322 1.702.88 1.933 1.675-.752 1.004-2.628 2.222-3.897 1.704-1.544-.63-.77-3.103-.497-4.195zm189.797.665c.255.115 2.347 1.106 2.382 1.113 5.865 1.27 2.334.41 3.92-.597-2.738-1.785-2.388-1.446-5.269-2.587 5.905-6.153 48.146-20.659 56.206-24.488 3.8-1.804 1.044-1.609 2.231-3.836l-55.104 22.867c-4.535 2.464-6.413 5.178-4.366 7.528zm114.533-7.861c-.232.319-1.107 5.116-1.145 5.678-.075 1.111.414 2.229 1.245 2.542 1.75.658 3.717-1.266 4.329-2.853.908-2.352.429-3.555-1.873-4.552-.387-.167-2.208-.82-2.556-.815zm-153.146-2.855l.115 1.906c.046.763.63 2.003 1.755 3.721l.472 1.502c-.115 2.304-1.189 3.517-3.219 3.64-1.523.093-2.72-.726-3.588-2.459-.655 1.826-1.743 2.783-3.267 2.876-1.016.062-1.689-.535-2.02-1.79l.196-3.074c-.046-.762-.616-1.749-1.708-2.958.43-1.302.773-1.961 1.026-1.976 1.078.955 1.664 2.195 1.756 3.72l-.22 2.693c.3.748.958 1.091 1.974 1.029 1.269-.077 1.85-1.006 1.743-2.786-.047-.762-.37-1.891-.971-3.385.431-1.302.639-2.081.624-2.335.507-.031 1.108 1.463 1.8 4.483.108 1.78.814 2.886 2.113 3.317.522.223 1.038.32 1.548.289l.759-.046-.023-.382-1.35-3.363a3.395 3.395 0 01-.474-1.502c-.077-1.271.242-2.311.959-3.12zm-46.396 10.175l39.518-19.391c4.075-1.847 10.653-3.624 12.375-7.712-8.951 3.026-18.408 8.602-26.948 12.835-5.943 2.947-23.263 9.025-24.945 14.268zm-92.768-6.805c.212 5.074.24 4.318 5.591 6.103-.469-4.353-.549-2.209-4.371-4.474 8.476-8.603 50.343-17.492 53.994-25.039-8.739 2.688-19.052 7.555-27.819 10.927-9.937 3.821-19.996 7.417-27.395 12.483zm292.333 1.884c.328.004 1.786.559 2.119.703.643.276 1.465.757 1.664 1.441-.648.865-2.262 1.913-3.356 1.467-1.329-.542-.662-2.671-.427-3.611zM132.443 33.89l.115 1.906c.046.763.63 2.003 1.755 3.721l.472 1.502c-.115 2.304-1.189 3.516-3.219 3.64-1.523.093-2.72-.726-3.588-2.46-.655 1.827-1.743 2.784-3.267 2.877-1.016.062-1.689-.535-2.021-1.791l.197-3.073c-.046-.763-.616-1.749-1.708-2.958.43-1.302.773-1.961 1.026-1.976 1.078.954 1.663 2.195 1.756 3.72l-.22 2.693c.3.748.958 1.09 1.974 1.029 1.268-.078 1.85-1.006 1.742-2.786-.046-.762-.37-1.891-.97-3.385.431-1.302.639-2.081.624-2.335.507-.031 1.108 1.463 1.8 4.483.108 1.78.814 2.886 2.113 3.317.522.223 1.038.32 1.547.289l.76-.047-.023-.381-1.35-3.364a3.387 3.387 0 01-.474-1.501c-.077-1.272.242-2.311.959-3.12zm211.67-.302c.219 1.556 1.409 2.13 2.631 2.516l.497.227c-.809.716-2.539 1.801-2.536 3.316.865-.236 4.008-2.805 6.096-3.644a37.165 37.165 0 002.066-.904c1.389-.655 2.338-1.552 2.675-3.073-.565.026-2.138 1.171-4.811 1.399-1.659.142-4.114-.396-4.374-1.947.074-.487 2.007-2.13 2.998-.725.249.353.293.673.649.912 2.071-1.093 2.433-4.055.237-4.427-1.709-.29-4.523 3.132-5.304 4.641-.157.303-.276.551-.399.845l-.425.864zm-48.915-6.193c.087-7.798-1.902-11.952-6.939-14.184.152 3.01 2.084 3.44 3.938 6.413 2.222 3.564 1.735 5.039 3.001 7.771zM177.01 17.722c.114 4.385 2.56 3.327 3.825 8.668.654-2.599-.363-4.835 1.862-4.272 8.699 2.2 23.05-2.56 30.142-5.435-1.502 2.712-2.769 3.975-4.275 7.368 2.319-1.315 3.19-2.305 4.911-4.555 1.927-2.516 1.797-2.27 2.368-5.628-14.388-1.018-15.793 11.77-38.833 3.854zm95.329-1.764c-.277.382-1.328 6.138-1.374 6.811-.09 1.333.497 2.675 1.494 3.05 2.1.789 4.459-1.519 5.194-3.423 1.089-2.821.514-4.264-2.247-5.46-.465-.201-2.649-.983-3.067-.978zm.028 2.878c.393.004 2.142.671 2.542.843.772.332 1.758.909 1.996 1.729-.777 1.038-2.714 2.295-4.025 1.76-1.595-.65-.795-3.205-.513-4.332zM151.943 8.386c-1.754.294-.682-.535-3.487-.165-3.886.69-1.233.072-2.322 3.635 5.373-1.645 4.699.169 7.806-2.925.513.6.225 2.241.779 2.574.35.21 1.655-.98 2.018-.87 6.339 1.921 13.078-9.673 5.866-8.149-2.376.501-3.514 3.445-6.803 5.624-1.736-2.293-1.837-4.289-3.54-6.662-.736 3.154 1.824 3.685-.317 6.938zm85.63-.44c-1.754.294-.681-.535-3.487-.165-3.885.69-1.233.073-2.322 3.635 5.373-1.644 4.7.169 7.806-2.925.514.6.226 2.241.779 2.574.35.21 1.655-.98 2.019-.87 6.338 1.921 13.078-9.673 5.866-8.149-2.377.501-3.514 3.445-6.803 5.624-1.737-2.293-1.838-4.289-3.541-6.662-.736 3.154 1.825 3.685-.317 6.938zm87.167-.888c-1.754.293-.681-.535-3.487-.165-3.885.69-1.233.072-2.322 3.635 5.373-1.645 4.699.168 7.806-2.925.513.6.225 2.241.779 2.574.35.21 1.655-.98 2.018-.87 6.339 1.921 13.079-9.673 5.867-8.149-2.377.501-3.514 3.445-6.803 5.624-1.737-2.294-1.838-4.29-3.541-6.662-.736 3.153 1.825 3.685-.317 6.938zM158.654 8.323c.424-.523.787-1.048 1.233-1.541a6.053 6.053 0 011.73-1.351c4.731-2.486 2.894 1.581-2.963 2.892zm85.63-.44c.424-.523.788-1.048 1.234-1.541a6.071 6.071 0 011.73-1.351c4.731-2.486 2.894 1.581-2.964 2.892zm87.167-.888c.424-.523.787-1.048 1.233-1.541a6.053 6.053 0 011.73-1.351c4.731-2.486 2.894 1.581-2.963 2.892z"
		/>
	</svg>
</template>

<style lang="stylus">
.welcome-heading
	margin auto
	animation 5s welcomeHeadingAppear

	&--mask
		animation 5s welcomeHeadinFilling

@keyframes welcomeHeadinFilling
	from
		transform translateX(100%)
	to
		transform none

@keyframes welcomeHeadingAppear
	0%
		opacity 0

	100%
		opacity 1
</style>
