<template lang="pug">
.welcome(@click='quitWelcome')

	.welcome--banner#WelcomeLogo(@click.stop.self.prevent='playWelcome')
		welcome-heading

		hr.divider

		.subtitle
			p.subtitle--text
				| АСА ҚАМҚОР, ЕРЕКШЕ МЕЙІРІМДІ АЛЛАНЫҢ АТЫМЕН!

	.welcome--logos
		logo-title
		logo-20
		logo-mark

</template>

<script>
import { Howl } from 'howler'
import WelcomeHeading from '~/components/WelcomeHeading.vue'
import LogoTitle from '~/components/LogoTitle.vue'
import LogoMark from '~/components/LogoMark.vue'
import Logo20 from '~/components/Logo20.vue'

export default {
	components: {
		WelcomeHeading,
		LogoTitle,
		LogoMark,
		Logo20,
	},

	data() {
		return {
			sound: new Howl({
				src: ['/audio/welcome.ogg', '/audio/welcome.mp3'],
			}),
			hTimeOut: undefined,
		}
	},

	mounted() {
		// hack of sound dinying till user interactions
		const logo = document.getElementById('WelcomeLogo')
		logo.click()
		// this.hTimeOut = setTimeout(this.quitWelcome, 10000)
	},

	methods: {
		playWelcome() {
			this.sound.play()
		},

		quitWelcome() {
			const fadeoutDelay = 1000
			this.sound.fade(1, 0, fadeoutDelay)
			setTimeout(this.sound.stop(), fadeoutDelay)

			clearTimeout(this.hTimeOut)

			if (this.$router.referer.name === 'lesson-no') {
				this.$router.go(-1)
			} else {
				this.$router.replace('/home')
			}
		},
	},
}
</script>

<style lang="stylus">
.welcome
	display flex
	flex-direction column
	width 100%
	height 100vh
	margin 0
	min-height 100%
	justify-content center
	align-items center
	text-align center
	user-select none
	padding .5rem
	color #e6e6e6
	background-color #2e4596
	welcomeBG()

	&--banner
		@media screen and (max-width 480px)
			max-width 80vw

	&--logos
		display flex
		justify-items center
		align-items center
		flex-direction column
		margin-top 0vh

		svg
			fill #e6e6e6
			height 100%
			width auto

	[class^='logo']
		animation 5s appear

	.logo-20
		animation-duration 6s
		margin .5rem 0 5rem

	.logo-mark
		animation-duration 8s

@keyframes appear
	0%
		opacity 0
	60%
		opacity 0
	to
		opacity 1

.divider
	height .1em
	background-color #e6e6e6
	border none
	margin .5em auto
	animation 5s welcomeDivider

@keyframes welcomeDivider
	from
		width 0
	to
		width 100%

.title
	font-family -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
	display block
	font-weight 300
	font-size 50px
	color #fff
	letter-spacing 1px

.subtitle
	font-weight 600
	color #e6e6e6
	word-spacing .1em
	padding-bottom 15px
	overflow hidden
	&--text
		animation 5s welcomeSubtitle

@keyframes welcomeSubtitle
	0%
		opacity 0
		transform translateY(-100%)
	30%
		opacity 1
		transform translateY(-100%)
	90%
		opacity 1
		transform none

.fade-enter-active,
.fade-leave-active
	transition opacity .5s

.fade-enter,
.fade-leave-to /* .fade-leave-active до версии 2.1.8 */
	opacity 0
</style>
