html
	height 100%

body
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
	font-size 16px
	word-spacing 1px
	-ms-text-size-adjust 100%
	-webkit-text-size-adjust 100%
	-moz-osx-font-smoothing grayscale
	-webkit-font-smoothing antialiased
	box-sizing border-box
	height 100%
	margin 0
	padding 0
	background-size 3rem
	background-origin padding-box
	background-image url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;fill:%23fff0cc'%3e%3cpath d='M.268 20.59A24.409 24.409 0 000 24a24.382 24.382 0 003.409-.271 24.028 24.028 0 008.489-2.967 24.356 24.356 0 006.451-5.421 20.476 20.476 0 00-1.763-2.995 21.157 21.157 0 01-4.466 4.407 20.841 20.841 0 01-8.25 3.616l-.298.059.059-.298c.327-1.654.85-3.239 1.542-4.73a24.694 24.694 0 01-2.108-2.995A24.03 24.03 0 00.268 20.59zm23.48.105A24.48 24.48 0 0124 24a24.562 24.562 0 01-3.41-.268 24.053 24.053 0 01-8.184-2.797 24.72 24.72 0 002.995-2.107 20.798 20.798 0 004.729 1.54l.298.06-.059-.299a20.849 20.849 0 00-3.616-8.249 21.157 21.157 0 00-4.408-4.465 20.524 20.524 0 012.994-1.764 24.283 24.283 0 015.423 6.451 24.034 24.034 0 012.97 8.488l.016.105zM7.306 12.198a21.153 21.153 0 004.348 4.388 20.513 20.513 0 01-2.995 1.763 24.267 24.267 0 01-3.09-3.109 24.182 24.182 0 01-2.33-3.343A24.036 24.036 0 01.268 3.409 24.383 24.383 0 010 0c1.158.01 2.296.101 3.41.268a24.035 24.035 0 018.182 2.797 24.605 24.605 0 00-2.994 2.108 20.802 20.802 0 00-4.727-1.542l-.299-.059.059.298a20.835 20.835 0 001.597 4.845 20.966 20.966 0 002.02 3.404l.058.079zm.108-.545a21.19 21.19 0 014.465-4.405 21.038 21.038 0 013.404-2.02 20.796 20.796 0 014.848-1.597l.298-.059-.059.298a20.868 20.868 0 01-1.542 4.729 24.787 24.787 0 012.107 2.994 24.033 24.033 0 002.794-8.184C23.896 2.295 23.99 1.158 24 0c-1.158.01-2.296.101-3.41.268a24.021 24.021 0 00-8.489 2.971 24.301 24.301 0 00-6.449 5.419 20.56 20.56 0 001.762 2.995z'/%3e%3c/svg%3e")
	background-color hsl(40 100% 80% / 1);

*, *:before, *:after
	box-sizing border-box
	margin 0

.lesson
	display flex
	flex-direction column
	align-items center
	max-width 40rem
	height 100%
	margin 0 auto
	padding $appBarSize 0 1.2 * $appBarSize

	&.slideLeft
		position absolute
		left -100%
		width 100vw

	&.slideRight
		position absolute
		right -100%
		width 100vw

	.section
		margin 1rem
		padding 3rem 1rem
		position relative

		border-image-slice 36% fill
		border-image-width 2.5rem 3rem
		border-image-outset 0 1rem
		border-image-repeat stretch
		border-image-source url('data:image/svg+xml;charset=UT-8,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"%3e%3cpath d="M62.364 4.227s-.549-1.709.479-2.677c0 0 .704 2.074 2.578 2.48 4.376.944 3.128-3.816 6.57-3.814 0 5.475-4.369 8.689-8.333 5.276 0 0 2.222 3.178-.154 7.367-.292.516-1.907 3.67-1.97 4.629-.391 2.814.835 4.646 3.043 5.153 4.061.616 5.423-2.353 5.079-4.184-.578-2.415-2.042-2.657-3.125-2.377-1.729.497-1.656 2.026-.793 2.386 0 0 .273-1.11 1.289-.865 1.017.245 1.106 2.146.077 2.824-2.172 1.437-3.483-.448-3.776-1.291-.292-.843-.595-3.19 1.505-4.473 1.636-.999 2.534-.251 2.653-.378.056-2.477 2.755-2.801 2.755-2.801s-1.685 2.411-.329 4.175c2.076 3.15.289 8.204-2.696 9.063-1.552.445-2.648.363-3.942-.272-4.608-2.747-3.597-7.449-1.922-10.674 2.669-4.254 1.078-7.399-.339-8.619-3.124-2.329-5.727.022-6.079 1.916-.876 2.523-.207 4.13.789 4.957 2.801 1.916 3.984-1.831 3.171-2.881 0 0-.765 1.016-1.682.222-.918-.798-.358-2.447.973-2.611 1.051-.125 3.419.973 2.902 4.83-.316 1.382-1.131 3.022-3.366 3.327-5.193.522-5.992-5.681-4.468-8.885 0 0 .387-3.604-2.228-3.958-2.745-.127-1.789 3.093-.906 2.937 0 0-1.378 1.157-2.467-.041-.893-1.222-.752-2.317-.333-3.108.499-.849 1.078-1.271 1.806-1.632 4.254-1.326 4.957 3.562 4.964 3.555 4.477-3.757 8.275.444 8.275.444zM62.373 67.772s-.549 1.709.479 2.678c0 0 .704-2.075 2.578-2.48 4.376-.944 3.128 3.815 6.57 3.814 0-5.475-4.369-8.69-8.333-5.276 0 0 2.222-3.179-.154-7.367-.292-.516-1.907-3.669-1.97-4.628-.391-2.815.835-4.648 3.043-5.155 4.061-.615 5.423 2.353 5.079 4.185-.578 2.416-2.042 2.658-3.125 2.377-1.729-.497-1.656-2.025-.793-2.386 0 0 .273 1.11 1.289.865 1.017-.246 1.106-2.146.077-2.825-2.172-1.436-3.483.449-3.776 1.293-.292.842-.595 3.189 1.505 4.472 1.636.999 2.534.251 2.653.378.056 2.476 2.755 2.8 2.755 2.8s-1.685-2.41-.329-4.175c2.076-3.149.289-8.204-2.696-9.062-1.552-.445-2.648-.364-3.942.273-4.608 2.746-3.597 7.448-1.922 10.673 2.669 4.254 1.078 7.399-.339 8.62-3.124 2.329-5.727-.023-6.079-1.917-.876-2.524-.207-4.13.789-4.956 2.801-1.917 3.984 1.829 3.171 2.88 0 0-.765-1.016-1.682-.222-.918.798-.358 2.446.973 2.611 1.051.125 3.419-.973 2.902-4.829-.316-1.382-1.131-3.022-3.366-3.328-5.193-.521-5.992 5.681-4.468 8.885 0 0 .387 3.603-2.228 3.959-2.745.126-1.789-3.094-.906-2.939 0 0-1.378-1.156-2.467.042-.893 1.222-.752 2.318-.333 3.108.499.85 1.078 1.272 1.806 1.632 4.254 1.326 4.957-3.563 4.964-3.556 4.477 3.757 8.275-.444 8.275-.444zM9.627 4.227s.549-1.709-.479-2.677c0 0-.704 2.074-2.578 2.48C2.194 4.974 3.442.214 0 .216c0 5.475 4.369 8.689 8.332 5.276 0 0-2.221 3.178.155 7.367.292.516 1.906 3.67 1.97 4.629.39 2.814-.835 4.646-3.043 5.153-4.061.616-5.423-2.353-5.079-4.184.578-2.415 2.042-2.657 3.125-2.377 1.729.497 1.656 2.026.793 2.386 0 0-.273-1.11-1.289-.865-1.017.245-1.106 2.146-.077 2.824 2.171 1.437 3.482-.448 3.776-1.291.291-.843.595-3.19-1.505-4.473-1.636-.999-2.534-.251-2.653-.378-.057-2.477-2.756-2.801-2.756-2.801s1.686 2.411.329 4.175c-2.075 3.15-.289 8.204 2.697 9.063 1.552.445 2.648.363 3.942-.272 4.607-2.747 3.597-7.449 1.922-10.674-2.669-4.254-1.078-7.399.339-8.619 3.124-2.329 5.727.022 6.079 1.916.876 2.523.207 4.13-.789 4.957-2.801 1.916-3.984-1.831-3.17-2.881 0 0 .764 1.016 1.681.222.918-.798.357-2.447-.973-2.611-1.052-.125-3.418.973-2.903 4.83.317 1.382 1.132 3.022 3.367 3.327 5.192.522 5.992-5.681 4.467-8.885 0 0-.387-3.604 2.229-3.958 2.745-.127 1.789 3.093.906 2.937 0 0 1.377 1.157 2.467-.041.893-1.222.752-2.317.333-3.108-.499-.849-1.078-1.271-1.806-1.632-4.254-1.326-4.957 3.562-4.965 3.555-4.476-3.757-8.274.444-8.274.444zM9.627 67.772s.549 1.709-.479 2.678c0 0-.704-2.075-2.578-2.48-4.376-.944-3.128 3.815-6.57 3.814 0-5.475 4.369-8.69 8.332-5.276 0 0-2.221-3.179.155-7.367.292-.516 1.906-3.669 1.97-4.628.39-2.815-.835-4.648-3.043-5.155-4.061-.615-5.423 2.353-5.079 4.185.578 2.416 2.042 2.658 3.125 2.377 1.729-.497 1.656-2.025.793-2.386 0 0-.273 1.11-1.289.865-1.017-.246-1.106-2.146-.077-2.825 2.171-1.436 3.482.449 3.776 1.293.291.842.595 3.189-1.505 4.472-1.636.999-2.534.251-2.653.378-.057 2.476-2.756 2.8-2.756 2.8s1.686-2.41.329-4.175c-2.075-3.149-.289-8.204 2.697-9.062 1.552-.445 2.648-.364 3.942.273 4.607 2.746 3.597 7.448 1.922 10.673-2.669 4.254-1.078 7.399.339 8.62 3.124 2.329 5.727-.023 6.079-1.917.876-2.524.207-4.13-.789-4.956-2.801-1.917-3.984 1.829-3.17 2.88 0 0 .764-1.016 1.681-.222.918.798.357 2.446-.973 2.611-1.052.125-3.418-.973-2.903-4.829.317-1.382 1.132-3.022 3.367-3.328 5.192-.521 5.992 5.681 4.467 8.885 0 0-.387 3.603 2.229 3.959 2.745.126 1.789-3.094.906-2.939 0 0 1.377-1.156 2.467.042.893 1.222.752 2.318.333 3.108-.499.85-1.078 1.272-1.806 1.632-4.254 1.326-4.957-3.563-4.965-3.556-4.476 3.757-8.274-.444-8.274-.444zM25.099 7.138h22V8.2h-22zM25.099 63.715h22v1.062h-22zM5.959 25.962h1.1v20h-1.1zM64.874 25.962h1.1v20h-1.1z" fill="%23093"/%3e%3c/svg%3e');
		background-image:
			radial-gradient(rgba(white, 0.3) 33%, rgba(white, 0) 100%),
			radial-gradient(rgba(white, 0.5) 0%, rgba(white, 0) 100%),
			linear-gradient(180deg, rgba(white, 0) 0%,rgba(white, 0) 0% 75%, rgba(white, 0) 0%, rgba(white, 0.4) 90%, rgba(white, 0) 100%)

		&:after
			content: '\0a';
			bottom: 0;
			width: 100%;
			left: 0;
			box-shadow: 0rem 1rem 1rem 0.5rem rgba(0,0,0,0.2);
			position: absolute;

		.hr
			display block
			width 100%

	.banner
		display block
		margin 1rem auto

	&-list
		display flex
		flex-flow row-reverse wrap
		align-items center
		align-content center
		justify-content center

		.btn
			border none
			min-width 3.5rem
			min-height 2.5rem
			line-height 1
			border-radius .2em
			box-shadow 0 6px 4px rgba(black, .5)
			margin .15rem
			margin-bottom .9rem
			display flex
			flex-direction row-reverse
			text-align center
			font-weight 600
			font-size 2.5em
			background-color #fcfcfc
			cursor pointer
			user-select none

			.si
				vertical-align middle

			small
				font-size .37em

		a.btn
			color inherit
			text-decoration none

	h2
		text-align center
		position relative
		padding .1em 0 1rem
		margin .5rem 0 1rem
		font-size 1.8rem
		font-weight 500
		line-height 1
		color $clrNavbarIcon

		.text
			display block
			margin .2em
			font-style normal
			text-shadow 0 4px 6px rgba(#888, .5)

		.himg
			margin 0 auto
			height 1em
			width auto
			filter drop-shadow(0 4px 6px rgba(#888, .5))
			vertical-align sub

.fade-enter-active, .fade-leave-active
	transition opacity .5s

.fade-enter, .fade-leave-to
	opacity 0

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active
	transition transform .5s, opacity .25s

.slide-left-enter, .slide-right-leave-to
	transform translateX(-100%)

.slide-right-enter, .slide-left-leave-to
	transform translateX(100%)
