$appBarSize = 3rem
$clrDrawerText = #e6e6e6
$clrNavbarIcon = #35388A
$clrNavbarIconDisabled = lighten($clrNavbarIcon, 30)

welcomeBG()
	background-image: url('/img/usor.png'), linear-gradient(
		180deg,
		#2e2753 0%,
		#323176 18.29%,
		#2e4596 47.62%,
		#323072 73.67%,
		#2e2956 94.66%
	)
	user-select none

iSaidRoboto(size=12px)
	font size normal 'Roboto Light', sans-serif
	font-size size

