<template lang="pug">
main.default

	AppBar(
			:showDrawer='showDrawer'
			:pageTitle='appTitle'
		)

	NavBar(:prev='pagePrev' :next='pageNext')
	Drawer(:class='{"shown": showDrawer}')

	transition(:name='transition')
		nuxt(
				keep-alive
				:navNext='pageNext'
				:navPrev='pagePrev'
				v-touch:swipe.left.prevent='onSwipeLeft'
				v-touch:swipe.right.prevent='onSwipeRight'
			)

	install-banner

</template>

<script>
import AppBar from '~/components/AppBar.vue'
import NavBar from '~/components/NavBar.vue'
import Drawer from '~/components/Drawer.vue'
import InstallBanner from '~/components/InstallBanner.vue'

export default {
	components: { AppBar, NavBar, Drawer, InstallBanner },

	data() {
		return {
			showDrawer: false,
			appTitle: 'Құран Әліппесі',
			pageNext: undefined,
			pagePrev: undefined,
			transition: 'fade',
		}
	},

	watch: {
		$route(to, from) {
			// watchFunc(newValue, oldValue)
			this.setAppTitle(to)
			this.setNavs(to)
			this.transition =
				from.name !== 'lesson-no' || to.name !== 'lesson-no'
					? 'fade'
					: this.pageWeight(from) > this.pageWeight(to)
					? 'slide-left'
					: 'slide-right'
		},
	},

	beforeMount() {
		this.$store.dispatch('FETCH_LESSONS')
		this.$store.dispatch('FETCH_DURATIONS')
	},

	mounted() {
		this.setAppTitle(this.$route)
		this.setNavs(this.$route)
	},

	updated() {},

	methods: {
		setAppTitle(route) {
			this.appTitle =
				{
					abc: 'Әліпби әріптері',
					lessons: 'Дәрістер',
					'lesson-no': `${+this.$route.params.no} дәріс`,
				}[route.name] || 'Құран Әліппесі'
			this.$hi(route.path, `New appTitle: ${this.appTitle}`)
		},

		head() {
			return {
				titleTemplate: `%s - ${this.appTitle}`,
			}
		},

		setNavs(route) {
			switch (route.name) {
				case 'abc':
					this.pagePrev = undefined
					this.pageNext = { name: 'home' }
					break
				case 'home':
					this.pagePrev = { name: 'abc' }
					this.pageNext = { name: 'lesson-no', params: { no: '01' } }
					break
				case 'lesson-no':
					this.pagePrev = this.getNextLessonRoute(+route.params.no, 1, -1)
					this.pageNext = this.getNextLessonRoute(+route.params.no, 20, 1)
			}
		},

		pageWeight(route) {
			return {
				abc: 0,
				home: 1,
				'lesson-no': +route.params.no + 1,
			}[route.name]
		},

		getNextLessonRoute(sourceId, limit, dir) {
			return sourceId === limit
				? { name: 'home' }
				: {
						name: 'lesson-no',
						params: {
							no: String(sourceId + dir).padStart(2, '0'),
						},
				  }
		},

		onSwipeLeft() {
			if (!this.pageNext) return
			this.$router.push(this.pageNext)
		},

		onSwipeRight() {
			if (!this.pagePrev) return
			this.$router.push(this.pagePrev)
		},
	},
}
</script>

<style lang="stylus" scoped>

body
	overflow-y auto
	padding $appBarSize 0
	margin 1rem

.default
	position relative
	overflow-x hidden

.picture
	text-align center
	margin 0 auto

	fill #093

.video
	margin 1rem auto

.cifir
	display flex
	flex-flow row-reverse wrap
	justify-content center

	&-btn
		padding 1em
		font-weight 700
		margin .7em
		min-width 2em
		direction rtl
		box-shadow 0px 4px 4px rgba(black, 0.25)
		background #fff
		border-radius .3rem
		text-transform uppercase
		color red

		&.wide
			width 100%
</style>
