<template lang="pug">
.lesson

	section.section
		h2
			em.text
			f-svg(name='arabica-abc' height='auto')

		.lesson-list
			howl-btn(v-for='(button, i) in abc' :key='i' num='_abc' :btn='button')

</template>

<script>
import HowlBtn from '~/components/HowlBtn.vue'

export default {
	components: {
		HowlBtn,
	},

	data() {
		const abc = []
		for (let i = 1; i < 30; i++) abc.push(String(i).padStart(2, '0'))
		return {
			abc,
			showDrawer: false,
		}
	},
}
</script>
